.visor-icon { background-image:url(images/visor16x16.png) !important; }
.x-btn-large .visor-icon { background-image: url(images/visor32x32.png) !important; }
.visor-shortcut { background-image: url(images/visor48x48.png) !important; }