.ficha-icon { background-image: url(images/ficha16x16.png) !important; }
.x-btn-large .ficha-icon { background-image: url(images/ficha32x32.png) !important; }
.ficha-shortcut { background-image: url(images/ficha48x48.png) !important; }