body {
    font-family: arial, verdana, tahoma, verdana, sans-serif;
    color: #555;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

a {
    color: #1E4D7F;
    text-decoration: none;
    font-size: 13px;
    outline: none;
}

a:hover, a:focus {
    color: #5383B2;
    text-decoration: none;
    font-size: 13px;
    outline: none;
}

img {
    border: 0 none;
}

input, select {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    position: absolute;
    color: #4f4f4f;
    font-size: 13px;
    left: 6px;
    top: 4px;
    width: 192px;
    height: 17px;
}

#login-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

#login-panel {
    left: 50%;
    margin-left: -152px;
    margin-top: -203px;
    position: absolute;
    top: 50%;
}

.login-div {
    opacity: 0.85;
    border-radius: 7px;
    border: 1px solid #CACACA;
    background-color: #FFF;
    width: 304px;
    height: 385px;
}

.login-container {
    position: absolute;
    left: 31px;
    top: 20px;
    width: 241px;
    height: 358px;
}

#login-logo {
    position: absolute;
    width: 230px;
    height: 70px;
    background: url(../images/default/login/senagua.png);
}

.login-user {
    position: absolute;
    top: 80px;
    left: 32px;
    width: 96px;
    height: 17px;
}

.login-input {
    border: 1px solid #BBB;
    border-radius: 3px;
}

.login-user-div {
    position: absolute;
    left: 31px;
    top: 99px;
    width: 180px;
    height: 24px;
}

.login-password {
    position: absolute;
    top: 131px;
    left: 32px;
    width: 162px;
    height: 17px;
}

.login-password-div {
    position: absolute;
    left: 31px;
    top: 150px;
    width: 180px;
    height: 24px;
}

.login-submit {
    background: transparent url(../images/default/login/login.png) no-repeat 0 0;
    height: 37px;
    width: 120px;
    outline: none;
    position: absolute;
    left: 93px;
    top: 195px;
    cursor: pointer;
}

.login-submit:hover, .login-submit:focus {
    background: transparent url(../images/default/login/login.png) no-repeat 0 -38px;
    height: 37px;
    width: 120px;
    outline: none;
}

.login-forgot-password {
    position: absolute;
    left: 82px;
    top: 179px;
    width: 144px;
    height: 17px;
}

.login-division {
    border-bottom: 1px dotted #C9CCCA;
    position: absolute;
    top: 27px;
    width: 241px;
}

.login-footer {
    position: absolute;
    top: 235px;
    width: 241px;
    height: 100px;
}

.login-account-question {
    position: absolute;
    left: 56px;
    top: 51px;
    width: 141px;
    height: 20px;
    font-size: 14px;
    color: #333;
}

.login-signup {
    position: absolute;
    left: 78px;
    top: 78px;
    width: 181px;
    height: 33px;
}