select {
    left: 3px !important;
}
#signup-panel {
	left: 50%;
	margin-left: -152px;
	margin-top: -260px;
	position: absolute;
	top: 40%;
}
.signup-div {
	opacity: 0.85;
	border-radius: 7px;
	border: 1px solid #CACACA;
	background-color: #FFF;
	width: 304px;
	height: 635px;
}
.signup-container {
	position: absolute;
	left: 31px;
	top: 20px;
	width: 241px;
	height: 460px;
}
.signup-msg {
	font-size: 14px;
	color: #333;
	position: absolute;
	top: 85px;
	left: 20px;
}
.signup-nombre {
	position: absolute;
	top: 130px;
	left: 24px;
	width: 162px;
	height: 17px;
}
.signup-nombre-div {
	position: absolute;
	left: 23px;
	top: 149px;
	width: 200px;
	height: 24px;
}
.signup-apellido {
	position: absolute;
	top: 181px;
	left: 24px;
	width: 162px;
	height: 17px;
}
.signup-apellido-div {
	position: absolute;
	left: 23px;
	top: 200px;
	width: 200px;
	height: 24px;
}
.signup-cedula {
	position: absolute;
	top: 232px;
	left: 24px;
	width: 162px;
	height: 17px;
}
.signup-cedula-div {
	position: absolute;
	left: 23px;
	top: 251px;
	width: 200px;
	height: 24px;
}
.signup-email {
	position: absolute;
	top: 283px;
	left: 24px;
	width: 162px;
	height: 17px;
}
.signup-email-div {
	position: absolute;
	left: 23px;
	top: 302px;
	width: 200px;
	height: 24px;
}
#dcz {
    font-size: 11px;
}
.signup-dcz {
    position: absolute;
    top: 334px;
    left: 24px;
    width: 200px;
    height: 17px;
}
.signup-dcz-div {
    position: absolute;
    left: 23px;
    top: 353px;
    width: 200px;
    height: 24px;
}
.signup-password {
    position: absolute;
    top: 385px;
    left: 24px;
    width: 162px;
    height: 17px;
}
.signup-password-div {
    position: absolute;
    left: 23px;
    top: 404px;
    width: 200px;
    height: 24px;
}
.signup-v-password {
    position: absolute;
    top: 436px;
    left: 24px;
    width: 162px;
    height: 17px;
}
.signup-v-password-div {
    position: absolute;
    left: 23px;
    top: 455px;
    width: 200px;
    height: 24px;
}
.signup-send {
	background: transparent url(../images/default/login/send.png) no-repeat 0 0;
	height: 37px;
	width: 120px;
	outline: none;
	position: absolute;
	left: 106px;
	top: 495px;
	cursor: pointer;
}
.signup-send:hover, .signup-send:focus {
	background: transparent url(../images/default/login/send.png) no-repeat 0 -38px;
	height: 37px;
	width: 120px;
	outline: none;
}
.signup-footer {
	position: absolute;
	top: 520px;
	width: 241px;
	height: 70px;
}
.signup-back {
	position: absolute;
	top: 50px;
	left: 43px;
}