.usos-hecho-icon { background-image: url(images/usos-hecho16x16.png) !important; }
.x-btn-large .usos-hecho-icon { background-image: url(images/usos-hecho32x32.png) !important; }
.usos-hecho-shortcut { background-image: url(images/usos-hecho48x48.png) !important; }