.cubo-icon { background-image: url(images/cubo16x16.png) !important; }
.x-btn-large .cubo-icon { background-image: url(images/cubo32x32.png) !important; }
.cubo-shortcut { background-image: url(images/cubo48x48.png) !important; }